/* HEADER */
.header {
  min-height: auto;
  background-color: #1f2328;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 34px 20px 56px;
}

.container {
  max-width: 720px;
  margin: auto;
  text-align: center;
}

.header__logo {
  width: 255px;
  margin-bottom: 32px;
}

.header__title {
  font-size: 96px;
  font-weight: 900;
  line-height: 1.05;
  color: #ffffff;
  margin-bottom: 24px;
}

.header__subtitle {
  font-size: 14px;
  line-height: 1.4;
  color: #bfbfbf;
  max-width: 420px;
  margin: 0 auto;
}

/* Media queries corregidas */
@media screen and (max-width: 1024px) {
  .header {
    padding: 24px 20px 40px;
  }

  .header__logo {
    width: 200px;
  }

  .header__title {
    font-size: 64px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding: 20px 16px 32px;
  }

  .header__logo {
    width: 160px;
    margin-bottom: 24px;
  }

  .header__title {
    font-size: 48px;
  }

  .header__subtitle {
    font-size: 13px;
  }
}