.footer {
  background-color: #1f2328;
  padding: 119px 0;
  text-align: center;
}

.footer__copyright {
  width: 194px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  margin: 0 auto;
}

/* FOOTER responsive */
@media screen and (max-width: 1024px) {
  .footer {
    padding: 64px 16px;
  }

  .footer__copyright {
    font-size: 16px;
    height: auto;
  }
}

@media screen and (max-width: 544px) {
  .footer {
    padding: 64px 16px;
  }

  .footer__copyright {
    font-size: 14px;
    height: auto;
  }
}
