.image-section {
  display: flex;
  justify-content: center;
  margin: 0; /* Sin margin */
  padding: 0 16px 40px; /* Solo padding lateral y abajo */
}

.image-section__img {
  width: 100%;
  max-width: 984px;
  height: auto;
  display: block;
  opacity: 1;
  border-radius: 4px;
}
