.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
  height: 213px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: 1fr;
  }
}
