.places {
  padding: 92px 148px 0;
  max-width: 1280px;
  margin: 0 auto;
}

.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 48px 40px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

.place__title {
  grid-column: 1;
  grid-row: 1;
  width: 460px;
  height: 152px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  margin: 0;
}

.place__image {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  object-fit: cover;
}

.place__website {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  color: #ffffff;
}

.place__paragraph {
  grid-column: 2;
  grid-row: 2;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.place__button {
  display: inline-block;
  padding: 13px 20px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 100%);
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.place__button:hover {
  opacity: 0.8;
}

/* TABLET - 768px */
@media screen and (max-width: 1024px) {
  .places {
    padding: 88px 24px 0;
  }

  .place {
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
    margin-bottom: 73px;
  }

  .place__title {
    width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

/* MOBILE - 320px */
@media screen and (max-width: 768px) {
  .places {
    padding: 64px 16px 0;
  }

  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    gap: 32px;
    margin-bottom: 50px;
  }

  .place__title {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: auto;
    font-size: 32px;
    line-height: 35px;
  }

  .place__website {
    grid-column: 1;
    grid-row: 2;
    align-self: start;
  }

  .place__image {
    grid-column: 1;
    grid-row: 3;
  }

  .place__paragraph {
    grid-column: 1;
    grid-row: 4;
  }
}
