.places {
  padding: 92px 148px 0;
  max-width: 1280px;
  margin: 0 auto;
}

.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 48px 40px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

.place__title {
  /* Título del lugar */
  grid-column: 1;
  grid-row: 1;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  margin: 0;
  color: #ffffff;
}

.place__image {
  /* Imagen del lugar */
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  object-fit: cover;
}

.place__website {
  /* Sección del website */
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  color: #ffffff;
}

.place__paragraph {
  /* Contenedor de párrafos */
  grid-column: 2;
  grid-row: 2;
  color: #ffffff;
  font: inter;
}
