.places {
  padding: 92px 148px 0;
  max-width: 1280px;
  margin: 0 auto;
}

.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 48px 40px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

.place__title {
  grid-column: 1;
  grid-row: 1;
  width: 460px;
  height: 152px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  margin: 0;
}

.place__image {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  object-fit: cover;
}

.place__website {
  /* Sección del website */
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  color: #ffffff;
}

.place__paragraph {
  /* Contenedor de párrafos */
  grid-column: 2;
  grid-row: 2;
  color: #ffffff;
  font: inter;
}

.place__button {
  display: inline-block;
  padding: 13px 20px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 100%);
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.place__button:hover {
  opacity: 0.8;
}
