.places {
  padding: 92px 148px 0;
  max-width: 1280px;
  margin: 0 auto;
}

/* TABLET - 768px */
@media screen and (max-width: 1024px) {
  .places {
    padding: 88px 24px 0;
  }
}

/* MOBILE - 320px */
@media screen and (max-width: 768px) {
  .places {
    padding: 64px 16px 0;
  }
}
